{% extends 'base.html' %}
{% load static %}
{% load my_custom_filters %} <!-- 여기에 커스텀 필터를 로드합니다 -->
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'mall/detailStyle.css' %}">
{% endblock %}
{% block content %}
{% if stuff %}
    <div class="card mb-3">
      {% if stuff.image %}
        <img src="/media/{{ stuff.image }}" class="card-img-top h-25 w-25" alt="...">
      {% else %}
        <img src="{% static 'base.jpg' %}" class="card-img-top h-25 w-25" alt="Default Image">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title form-label">{{ stuff.name }}</h5>
        <p class="card-text form-control">{{ stuff.detail }}</p>
        <p class="card-text form-label">{{ stuff.price }}원</p>
        <!-- 여기에 커스텀 필터를 사용합니다 -->
        <p class="card-text"><small class="text-muted">Last updated at {{ stuff.pub_date|timesince_custom }}</small></p>
      </div>
    </div>
{% endif %}
{% endblock %}
