{% extends 'base.html' %}
{% load static %}  <!-- static 파일 로드 추가 -->
{% block content %}
<div class="container mt-4">  <!-- 카드를 담을 컨테이너 추가 -->
  <div class="card user-info-card mb-3">  <!-- 사용자 정보 카드 -->
    <div class="card-header">
      About Info
    </div>
    <div class="card-body">
      <h5 class="card-title">username: {{ username }}</h5>
      <h5 class="card-title">email: {{ email }}</h5>
    </div>
  </div>
  
  {% if orderlists %}
  {% for orders in orderlists %}
  <div class="card order-list-card mb-3">  <!-- 주문 목록 카드 -->
    <div class="card-header">
      Order List
    </div>
    <div class="card-body">
      <!-- 주문 테이블 -->
    </div>
    <div class="card-footer text-muted">
      Ordered At {{ orders.0.0.order_date }} | SEND {{ orders.1 }}$ | xxxx-xx-xxxxxxx Kakao Bank
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}

