/* 기본 카드 스타일 */
.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem auto;
  max-width: 40rem;
  background: #fff;
}

/* 이미지 스타일 */
.card-img-top {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

/* 카드 본문 스타일 */
.card-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 제목 스타일 */
.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

/* 상세 정보 스타일 */
.card-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

/* 가격 스타일 */
.price {
  font-size: 1rem;
  color: #555;
  font-weight: bold;
}

/* 갱신 시간 스타일 */
.card-text .text-muted {
  font-size: 0.875rem;
  color: #888;
}

.detail-info {
  font-size: 0.875rem;
  color: #666;
  margin-top: 1rem;
  border-top: 1px solid #eaeaea;
  padding-top: 1rem;
}
.like-button {
  background-color: transparent; /* 배경 없애기 */
  border: none; /* 테두리 제거 */
}
.btn-primary.like-button:hover {
  background-color: transparent; /* 호버 시 배경 없애기 */
  border: none; /* 테두리 제거 */
}

/* 수정하기 삭제하기 버튼 간격 조정 */
.card-body .d-flex .btn {
  margin-right: 10px; /* 수정하기와 삭제하기 버튼 간격 설정 */
}
