{% extends 'base.html' %}
{% load static %}
{% load my_custom_filters %} <!-- 커스텀 필터 로드 -->
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'mall/indexStyle.css' %}">
{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for stuff in stuffs %}
    <div class="card stuff mx-4" style="width: 15rem;">
        <div class="col">
            <div class="card">
                {% if stuff.image %}
                    <img src="/media/{{stuff.image}}" class="card-img-top" alt="{{ stuff.name }}">
                {% else %}
                    <img src="{% static 'base.jpg' %}" class="card-img-top" alt="Default Image">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ stuff.name }}</h5>
                  <p class="card-text"><strong>{{ stuff.price }} 원</strong></p>
                  <p class="card-text"><small class="text-muted">{{ stuff.pub_date|timesince_custom }}</small></p>
                </div>
                <div class="card-footer w-100 text-center">
                    <a href="{% url 'mall:detail' stuff.id %}" class="btn btn-primary d-block w-100">상품 보기</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
